RewriteEngine On

# Điều kiện chuyển hướng
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển hướng tất cả yêu cầu về index.php
RewriteRule ^(.*)$ index.php [QSA,L]
