.logo-svg {
    fill: var(--main-color-5);
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 16px;
    background-color: var(--main-color-1);
    min-width: 1000px;
    position: relative;
}

.container-fluid {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 16px;
    background-color: var(--main-color-1);
    min-width: 1200px;
    position: relative;
}

.header {
    background-color: var(--main-color-2);
    padding-left: calc(50vw + 8px);
    padding-right: calc(50vw + 8px);
    padding-bottom: 4px;
    padding-top: 4px;
    position: sticky;
    margin-left: -50vw;
    margin-right: -50vw;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 4px var(--main-color-2);
}

.footer {
    background-color: var(--main-color-1);
    padding-left: 8px;
    padding-right: 8px;
}

.app-content {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: var(--spacing-4);
    padding-bottom: var(--spacing-4);
}

.nav {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    gap: 8px; /* Khoảng cách giữa các item */
}

.nav-item {
    padding: 5px 10px; /* Thêm padding nếu cần */
}

/* Search input */
.search {
    display: flex;
    align-items: center;
    border: 1px solid var(--main-color-2);
    border-radius: 25px;
    padding: 4px 5px 4px 16px;
    background-color: var(--main-color-1);
    width: 300px;
}

.search input {
    border: none;
    background-color: transparent;
    outline: none;
    flex-grow: 1;
    padding: 5px;
}

.search:focus-within {
    box-shadow: 0 0 2px var(--main-color-4);
    transition: all 0.1s linear;
}

.search button {
    background-color: var(--main-color-4);
    border: none;
    border-radius: 25px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search button:hover {
    background-color: var(--main-color-5);
}

.search button i {
    color: white;
}

/* Catagory */
.catagory-item {
    text-align: center;
    overflow: hidden;
    padding: 0 0px;
}

.catagory-item h3 {
    text-align: center;
    margin: auto;
}

.catagory-item img {
    object-fit: cover;
    scale: 1.1;
}

.catagory-img {
    margin: 0 auto;
    max-width: 150px;
    overflow: hidden;
    border-radius: 50%;
}

/* Product */
.product-item {
    border-radius: 6px;
}

.product-item img {
    border-radius: 8px;
}

.product-item:hover {
    box-shadow: 0 0 4px var(--main-color-4);
    transition: all 0.1s linear;
}

/*  */
.banner-sell-with-us,
.banner-header {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

/* Cart */
/* .table-cart td {
    padding-top: 16px;
    padding-bottom: 16px;
} */

.cart-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.cart-payment {
    position: sticky;
    bottom: 0;
    z-index: 10;
    padding: 16px;

    border-top: 1px solid var(--main-color-1);
    box-shadow: 0 -6px 8px var(--main-color-1);
}

/* Register seller */
/* .progress-container {
    width: 80%;
    margin: 20px auto;
    position: relative;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: var(--main-color-5);
    border-radius: 2px;
    margin-bottom: 40px;
}

.progress-bar .progress {
    height: 100%;
    width: 0;
    background-color: var(--main-color-4);
    transition: width 0.3s ease-in-out;
}

.progress-steps {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -10px;
    width: 100%;
}

.progress-steps .step {
    width: 20px;
    height: 20px;
    background-color: var(--main-color-1);
    border: 2px solid var(--main-color-5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    position: relative;
    z-index: 2;
}

.progress-steps .step.active {
    background-color: var(--main-color-4);
    border-color: var(--main-color-4);
}

.progress-steps .step::after {
    content: attr(data-title);
    position: absolute;
    top: 30px;
    font-size: 12px;
    color: var(--text-color);
    white-space: nowrap;
    text-align: center;
} */

/* Seller sidebar */
.sidebar-seller > a {
    padding-left: 16px;
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: var(--font-size-4);
    border-radius: 5px;
    color: var(--main-color-4);
    margin-right: var(4px);
    margin-top: 2px;
    margin-bottom: 2px;
}

.sidebar-seller .active,
.sidebar-seller > a:hover {
    background-color: var(--main-color-4);
    color: var(--light-color);
    transition: all 0.2s linear;
    transform: translateX(var(4px));
}

/* Nav-tab */

.nav-tabs {
    justify-content: space-between;
    font-size: var(--font-size-4);
    text-align: center;
    border-bottom: 1px solid var(--main-color-5);
    padding: 0 8px;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset;
}

.nav-tabs a {
    padding: 4px 6px;
    border-top: 1px solid var(--main-color-4);
    border-left: 1px solid var(--main-color-4);
    border-right: 1px solid var(--main-color-4);
    background-color: var(--main-color-1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset;
}

@media (min-width: 1320px) {
    .nav-tabs a {
        padding: 4px 12px;
    }
}

@media (min-width: 1500px) {
    .nav-tabs a {
        padding: 4px 16px;
    }
}

.nav-tabs .active {
    background-color: var(--light-color);
    position: relative;
}

.nav-tabs .active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--light-color);
    position: absolute;
    bottom: -1px;
    left: 0;
}

/* seller order all */
.order-all-img {
    width: 40px;
    height: 40px;
}

.order-all-img img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.table-order-all > thead > tr > td {
    font-size: var(--font-size-5);
}
