body::-webkit-scrollbar {
    display: none;
}

img {
    user-select: none;
}

form {
    margin: 0;
}

/* Ẩn nút tăng giảm trên Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Checkbox */
.custom-checkbox * {
    box-sizing: border-box;
}
.custom-checkbox .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
}
.custom-checkbox .cbx:hover {
    background: rgba(0, 119, 255, 0.06);
}
.custom-checkbox .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.custom-checkbox .cbx span:first-child {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}
.custom-checkbox .cbx span:first-child svg {
    position: absolute;
    top: 4px;
    left: 4px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.custom-checkbox .cbx span:last-child {
    padding-left: 10px;
    line-height: 18px;
}
.custom-checkbox .cbx:hover span:first-child {
    border-color: #07f;
}
.custom-checkbox .inp-cbx {
    position: absolute;
    visibility: hidden;
}
.custom-checkbox .inp-cbx:checked + .cbx span:first-child {
    background: #07f;
    border-color: #07f;
    animation: wave-4 0.4s ease;
}
.custom-checkbox .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.custom-checkbox .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}
@media screen and (max-width: 640px) {
    .custom-checkbox .cbx {
        width: 100%;
        display: inline-block;
    }
}
@-moz-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}
@-webkit-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}
@-o-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}
@keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

/*  */
.scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}
.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
.scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}
.scroll::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}
