/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-color-1);
    color: var(--main-color-5);
    line-height: 1.5;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: var(--font-size-3);
}

body::-webkit-scrollbar {
    display: none;
}

span {
    display: block;
    width: 100%;
}

input {
    color: var(--main-color-5);
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* Tables */
.table {
    width: 100%;
    border-collapse: collapse;
    padding: var(--spacing-3);
}

.table th,
.table td {
    padding: var(--spacing-3);
}

.table-border-1,
.table-border-1 th,
.table-border-1 td {
    border: 1px solid var(--main-color-1);
}

.table-striped tbody tr:nth-child(odd) {
    background-color: var(--main-color-1); /* Màu xen kẽ hàng lẻ */
}

.table-striped tbody tr:nth-child(even) {
    background-color: var(--main-color-2); /* Màu xen kẽ hàng chẵn */
}

.table-striped tbody tr:nth-child(odd) {
    background-color: var(--main-color-5);
}

/* Tùy chỉnh bảng không có viền */
.table-borderless th,
.table-borderless td {
    border: none;
}

/* Responsive table */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.table-light,
.table-light th,
.table-light td {
    background-color: var(--light-color);
}

.table-color-1,
.table-color-1 th,
.table-color-1 td {
    background-color: var(--main-color-1);
}

.table-color-1-opacity-3,
.table-color-1-opacity-3 th,
.table-color-1-opacity-3 td {
    background-color: rgba(var(--main-color-1-rgb), 0.3);
}

.table-align-middle th,
.table-align-middle td {
    vertical-align: middle;
}

/* link */
.link {
    color: var(--main-color-3);
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: var(--main-color-5);
}

/* Button */
.btn {
    display: block;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: var(--spacing-2);
    text-align: center;
    background-color: var(--main-color-4);
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--main-color-5);
    color: white;
    border-color: var(--main-color-5);
}

.btn-color-2 {
    background-color: var(--main-color-2) !important;
}

.btn-color-2:hover {
    background-color: var(--main-color-3) !important;
    color: white;
    border-color: var(--main-color-3) !important;
}

.btn-outline {
    display: inline-block;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: var(--spacing-2);
    text-align: center;
    background-color: transparent;
    color: var(--main-color-4);
    border: 1px solid var(--main-color-4);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-outline:hover {
    background-color: var(--main-color-4);
    color: white;
    border-color: var(--main-color-4);
}

.btn-outline-2 {
    border: 1px solid var(--main-color-2);
    background-color: transparent;
}

.btn-outline:hover {
    background-color: var(--main-color-2);
    color: white;
    border-color: var(--main-color-2);
}

.btn-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--main-color-3);
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-icon:hover {
    background-color: var(--main-color-5);
    color: white;
    border-color: var(--main-color-5);
}

/* Avatar */
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative; /* Đảm bảo kiểm soát các thành phần con */
}

.custom-checkbox {
    width: 100%;
    height: 100%;
    opacity: 0; /* Ẩn checkbox mặc định */
    position: absolute;
    z-index: 2; /* Checkbox nằm trên label để nhận sự kiện click */
    cursor: pointer;
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--main-color-1);
    border: 1px solid var(--main-color-5);
    border-radius: 4px; /* Tùy chỉnh góc bo */
    transition: background-color 0.3s ease, border-color 0.3s ease;
    position: absolute;
    z-index: 1; /* Label làm nền */
}

.checkbox-label::after {
    content: "✔";
    display: none; /* Ẩn dấu tick mặc định */
    width: 10px;
    height: 10px;
    background-color: var(--main-color-4);
    border-radius: 2px; /* Tùy chỉnh góc bo */
}

.custom-checkbox:checked + .checkbox-label {
    background-color: var(--main-color-3);
    border-color: var(--main-color-4);
}

.custom-checkbox:checked + .checkbox-label::after {
    display: block; /* Hiển thị dấu tick khi được chọn */
}

/* Input data */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--main-color-2);
    border-radius: 5px;
    background-color: var(--light-color);
    outline: none;
    transition: all 0.2s linear;
}

/* Hover */
.form-control:hover {
    border-color: var(--main-color-3);
}

/* Focus */
.form-control:focus {
    border-color: var(--main-color-3);
    box-shadow: 0 0 4px var(--main-color-4);
    filter: brightness(110%);
}

.form-control:disabled {
    background-color: var(--main-color-1);
    border-color: var(--main-color-5);
    /* color: var(--);  */
    cursor: not-allowed;
    opacity: 0.8;
}
