:root {
    --main-color-1: #eae7dc;
    --main-color-2: #d8c3a5;
    --main-color-3: #e98074;
    --main-color-4: #e85a4f;
    --main-color-5: #a13b34;

    --main-color-1-rgb: 234, 231, 220;
    --main-color-2-rgb: 216, 195, 165;
    --main-color-3-rgb: 233, 128, 116;
    --main-color-4-rgb: 232, 90, 79;
    --main-color-5-rgb: 161, 59, 52;

    --dark-color: #333333;
    --light-color: #ffffff;

    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 16px;
    --font-size-4: 20px;
    --font-size-5: 24px;
    --font-size-6: 32px;

    --spacing-0: 0px;
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 24px;
    --spacing-6: 32px;

    --header-height: 90px;
}
